.alert {
    width: 300px;
    margin: 4px;
}

html, body {
    height: 100%;
}

#container {
    height: calc(100% - 82px);
}

#licenses {
    height: calc(100% - 40px);
    width: 100%;
}

iframe {
    border: 1px solid lightgrey;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;

}

#myTabContent {
    height: 100%;
}

.status-running {
    color: darkgreen;
}

.status-starting {
    color: orange;
}

.status-stopped {
    color: red;
}

.spinner-placeholder {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 18px;
    height: 18px;
}

.spinner-install, .spinner-remove {
    display: inline-block;
}

.pkg-remove, .pkg-install {
    width: 100px;
}